@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Colors
$color-bg: #1E1E1E;
$color-font: #FFF;
$color-bg-header: #2945FF;


// Fonts
$font-inter: "Inter", sans-serif;


//breakpoints
@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 600px) { @content; }
  }
  @if $point == medium {
    @media (max-width: 900px) { @content; }
  }
  @if $point == large {
    @media (max-width: 1200px) { @content; }
  }
}






